# SSH Rulz!

HashKnownHosts no
ForwardAgent yes

#
# Tenzor
#

Host tenzor
  HostName 127.0.0.1

Host tenzor.haven
  HostName 192.168.125.1

# Think twice before do this
#Host tenzor.onion
#  HostName 0123456789abcdef.onion
#  Port 2222

Host tenzor*
  User mitya
  IdentityFile ~/.ssh/mitya_ed25519

Host ledger ledger.haven
  HostName 192.168.125.10

Host darkly darkly.haven
  HostName 192.168.125.20

Host tangly tangly.haven
  HostName 192.168.125.30

Host ledger* darkly* tangly*
  User mitya
  IdentityFile ~/.ssh/mitya_ed25519
  ForwardX11 yes
  ForwardX11Trusted yes

#
# Tunnels
#

Host *.tor *.onion
  ProxyCommand socat STDIO SOCKS4A:127.0.0.1:%h:%p,socksport=9050

#Host tenzor *.haven
# ProxyCommand socat STDIO SOCKS4A:127.0.0.1:%h:%p,socksport=10010


