ssh/*
!ssh/config.dist

vim/session/
vim/bundle/*
!vim/bundle/Vundle.vim

tmux/plugins/*
!tmux/plugins/tpm
tmux/resurrect/

mcabber/mcabber.state
mcabber/mcabber.log
mcabber/logs/*
!mcabber/logs
mcabber/otr/*
!mcabber/otr

proxychains/proxychains.conf
!proxychains/proxychains.conf.dist
