ssh/*
!ssh/config

bash_aliases

vim/session/
vim/bundle/*
!vim/bundle/Vundle.vim

tmux/plugins/*
!tmux/plugins/tpm
tmux/resurrect/

mcabber/mcabber.state
mcabber/mcabber.log
mcabber/logs/*
!mcabber/logs/.gitkeep
mcabber/otr/*
!mcabber/otr/.gitkeep

proxychains/*
!proxychains/proxychains.conf.dist

