ssh/*
!ssh/config.dist

bash_aliases
bash_proxy

vim/session/
vim/bundle/*
!vim/bundle/Vundle.vim

tmux/plugins/*
!tmux/plugins/tpm
tmux/resurrect/

mcabber/mcabber.state
mcabber/mcabber.log
mcabber/logs/*
!mcabber/logs/.gitkeep
mcabber/otr/*
!mcabber/otr/.gitkeep

proxychains/*
!proxychains/proxychains.conf.dist

newsbeuter/*
!newsbeuter/config.dist
!newsbeuter/urls.example

