#
# socat -v TCP4-LISTEN:20000,bind=127.0.0.1,reuseaddr,fork \
#   SOCKS4A:127.0.0.1:xmpp.jabber.at:5222,socksport=9050
#

# Connection
set jid = someuser@jabber.at
set nickname = someuser
set server = 127.0.0.1
set port = 20000
#set password = secret

# SSL/TLS
set tls = 1
set ssl_ignore_checks = 0

set resource = N4oz2luHes
set disable_random_resource = 1

source ~/.mcabber/mcabberrc

