# dotfiles/newsbeuter/config

browser "elinks -remote 'openURL('%u', new-tab)'"

auto-reload yes
refresh-on-startup yes
cleanup-on-quit yes

notify-always no
notify-format "%n unread articles within %f unread feeds"
notify-program /home/mitya/.newsbeuter/notify-send.sh
#notify-xterm yes
#notify-screen yes

#use-proxy yes
#proxy 127.0.0.1:9050
#proxy-type socks5

